# build files
/prisma/seed/config_contact_business.ts
/prisma/seed/product_categories.ts

# compiled output
/node_modules

# environment file
.env

# NestJS output
/dist

# prisma 
/prisma/generated
/prisma/seed/_config_contact_business.ts
/prisma/seed/_product_categories.ts
/prisma/seed/_products.ts
/prisma/seed/initialWCOQuaries.ts

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.adminjs
.vercel
